<template name="header">
	<header class="navbar">
		<div class="navbar-inner">

			<a class="brand" href="{{ pathFor 'postsList' }}">Microscope</a>

			<div class="nav-collapse collapse">
				{{#if currentUser}}
					<ul class="nav">
						<li><a href="{{ pathFor 'newPost' }}">New Post</a></li>
						<li class="dropdown">
							{{> notifications }}
						</li>
					</ul>
				{{/if}}
				
				<ul class="nav pull-right">
					<li>{{> loginButtons }}</li>
				</ul>
				
			</div>

		</div>
	</header>
</template>